<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219159014153-7i0tt86q5hoahas218fkok6p26nmd270.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219159014153-7i0tt86q5hoahas218fkok6p26nmd270</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>219159014153-mi9f3d5b1ok6tjlsalsj518cphgujgt1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYTn7HjxlRBabyIaD13Ep4NHGoP6ldA38</string>
	<key>GCM_SENDER_ID</key>
	<string>219159014153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dealer</string>
	<key>PROJECT_ID</key>
	<string>audio-e0f15</string>
	<key>STORAGE_BUCKET</key>
	<string>audio-e0f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219159014153:ios:8fa465eec068c1129dc1d8</string>
</dict>
</plist>